body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.svg-icon path {
  fill: #c02446ad;
}


/* -----------------FRONT PAGE Section -------------------*/
.frontPageContainer{
  background-image:  url('http://cfile205.uf.daum.net/image/0309B35050BD441401F5EB');
  height: 100vh;
  background-size: 100% 100%;
  justify-content: center;
  align-items: flex-start;
}

.frontPageContainer h1{
  color: white;
  display: inline-block;
  width: 480px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.frontPageContainer h2{
  color: white;
  display: inline-block;
  width: 540px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.frontPageContainer h4{
  color: white;
}
  /* ----------------- Navbar -------------------*/
.navbar {
  background-color: black;
}
  /* -----------------Flex -------------------*/
  .flex-container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ----------------- pie chart -------------------*/
  .arc {
    opacity: 1.0;
  }
  .arc-hover {
    opacity: 0.5;
  }
  /* ----------------- barcode-food -------------------*/
  .barcode-food-p {
    height: 700px;
    background: url('https://wallpapertag.com/wallpaper/full/e/4/4/399378-gorgerous-black-background-image-2200x1650-for-android-40.jpg');
    display: flex;
  }
  .barcode-food {
    width: 60%;

  }

  .barcode-food-2 {
    width: 40%;
  }
  /* ----------------- daily chart -------------------*/
  
  /* ----------------- Bottom Nav -------------------*/
  .bottom-nav Paper{
    background-color: white;
    display: flex;
    justify-content: space-around;
  }

/* ----------------- Bubble Chart -------------------*/
.bubble-chart-background {
  height: 700px;
  background: url('./background.png');
}