body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.svg-icon path {
  fill: #c02446ad;
}


/* -----------------FRONT PAGE Section -------------------*/
.frontPageContainer{
  background-image:  url('http://cfile205.uf.daum.net/image/0309B35050BD441401F5EB');
  height: 200vh;
  background-size: 100% 100%;
  justify-content: center;
  align-items: flex-start;
}

.frontPageContainer h1{
  color: white;
  display: inline-block;
  width: 480px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.frontPageContainer h2{
  color: white;
  display: inline-block;
  width: 540px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.frontPageContainer h4{
  color: white;
}
  /* ----------------- Navbar -------------------*/
.navbar {
  background-color: black;
}
  /* -----------------Flex -------------------*/
  .flex-container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ----------------- pie chart -------------------*/
  .arc {
    opacity: 1.0;
  }
  .arc-hover {
    opacity: 0.5;
  }

  /* ----------------- daily chart -------------------*/
  